In [8]:
import os
import sys
import boto3
import pandas as pd

In [9]:
secrete = '0Nxgh3zxuM6emqTxEWkuu9+Fs4nKkfCXq9SovnVN'
access = 'AKIASQOONYTKA2LHISEM'

In [10]:
s3 = boto3.resource(
    service_name = 's3',
    region_name = 'us-east-1',
    aws_access_key_id = access,
    aws_secret_access_key = secrete
)

In [11]:
for bucket in s3.buckets.all():
    print(bucket.name)

proyectofinalpython

In [12]:
S3_BUCKET_NAME = 'proyectofinalpython'

In [13]:
fileList = os.listdir('AWS - S3')
#fileList

In [14]:
for file in fileList:
    if(file != '.ipynb_checkpoints'):
        path = './AWS - S3/' + file
        s3.Bucket(S3_BUCKET_NAME).upload_file(Filename=path, Key='AWS - S3/' + file)

In [15]:
fileList = os.listdir('AWS - S3')
fileList

['.ipynb_checkpoints',
 'Censo18.csv',
 'fbtelefonias.csv',
 'inscripciones preprimaria-diver.csv',
 'Poblacion Economicamente Activa 2018.csv',
 'telefonias gt.csv',
 'Untitled.ipynb']

In [16]:
for bucket in s3.buckets.all():
    print(bucket.name)

proyectofinalpython

In [17]:
for objt in s3.Bucket(S3_BUCKET_NAME).objects.all():
    print(objt)

s3.ObjectSummary(bucket_name='proyectofinalpython', key='AWS - S3/Censo18.csv')
s3.ObjectSummary(bucket_name='proyectofinalpython', key='AWS - S3/Poblacion Economicamente Activa 2018.csv')
s3.ObjectSummary(bucket_name='proyectofinalpython', key='AWS - S3/Untitled.ipynb')
s3.ObjectSummary(bucket_name='proyectofinalpython', key='AWS - S3/fbtelefonias.csv')
s3.ObjectSummary(bucket_name='proyectofinalpython', key='AWS - S3/inscripciones preprimaria-diver.csv')
s3.ObjectSummary(bucket_name='proyectofinalpython', key='AWS - S3/telefonias gt.csv')
s3.ObjectSummary(bucket_name='proyectofinalpython', key='Outputfinal/final.csv')

In [23]:
#extraemos todo lo que est√° en el bucket
remoteFileList = []

for objt in s3.Bucket(S3_BUCKET_NAME).objects.all():
    remoteFileList.append(objt.key)

In [24]:
    objt

s3.ObjectSummary(bucket_name='proyectofinalpython', key='AWS - S3/telefonias gt.csv')

In [1]:
logDf = pd.DataFrame()
for remoteFile in remoteFileList:
    if ('AWS - S3' in remoteFile):
        file = s3.Bucket(S3_BUCKET_NAME).Object(remoteFile).get()
        data = pd.read_csv('AWS - S3/telefonias gt.csv', delimiter =';' )
        logDf = logDf.append(data)

NameError: name 'pd' is not defined

In [66]:
logDf.head()

    Departamento    Claro     Tigo     Total
0          Total  5495671  7736997  13232668
1   ALTA VERAPAZ   109770   348097    457867
2   BAJA VERAPAZ    69753   114074    183827
3  CHIMALTENANGO   219865   295192    515057
4     CHIQUIMULA    74460   155777    230237

In [67]:
#logDf = telefonias gt (Depto, Claro, Tigo, Total)
logDf.drop([0,0],axis=0)

     Departamento   Claro    Tigo   Total
1    ALTA VERAPAZ  109770  348097  457867
2    BAJA VERAPAZ   69753  114074  183827
3   CHIMALTENANGO  219865  295192  515057
4      CHIQUIMULA   74460  155777  230237
5     EL PROGRESO   74472   92667  167139
..            ...     ...     ...     ...
18     SANTA ROSA  150042  186478  336520
19         SOLOLA  142634  196272  338906
20  SUCHITEPEQUEZ  282403  235867  518270
21    TOTONICAPAN   89293  202562  291855
22         ZACAPA   71249  134311  205560

[110 rows x 4 columns]