In [11]:
from sqlalchemy import create_engine

In [84]:
import pandas as pd
import numpy as np
import boto
import boto3
import os
import sys

In [13]:
%load_ext sql

In [14]:
DB_ENDPOINT = 'censodb.cxkj4cjl87xa.us-east-1.rds.amazonaws.com'
DB = 'CENSO'
DB_USER = 'admin'
DB_PASSWORD = '12345678'
DB_PORT = '3306'

In [15]:
mysql_conn = 'mysql+pymysql://{}:{}@{}/{}'.format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB)
print(mysql_conn)

mysql+pymysql://admin:12345678@censodb.cxkj4cjl87xa.us-east-1.rds.amazonaws.com/CENSO

In [63]:
%sql $mysql_conn

'Connected: admin@CENSO'

In [64]:
%%sql
select * from censo18;

 * mysql+pymysql://admin:***@censodb.cxkj4cjl87xa.us-east-1.rds.amazonaws.com/CENSO
22 rows affected.

[(1, 'Guatemala', 3015081),
 (2, 'El Progreso', 176632),
 (3, 'Sacatepequez', 330469),
 (4, 'Chimaltenango', 615776),
 (5, 'Escuintla', 733181),
 (6, 'Santa Rosa', 396607),
 (7, 'Solola', 421583),
 (8, 'Totonicapan', 418569),
 (9, 'Quetzaltenango', 799101),
 (10, 'Suchitepaquez', 554695),
 (11, 'Retalhuleu', 326828),
 (12, 'San Marcos', 1032277),
 (13, 'Huehuetenango', 1170669),
 (14, 'Quiche', 949261),
 (15, 'Baja Verapaz', 299476),
 (16, 'Alta Verapaz', 1215038),
 (17, 'Peten', 545600),
 (18, 'Izabal', 408688),
 (19, 'Zacapa', 245374),
 (20, 'Chiquimula', 415063),
 (21, 'Jalapa', 342923),
 (22, 'Jutiapa', 488395)]

In [80]:
query = 'Select * from censo18;'
#query['Departamento'] = query['Departamento'].str.upper()
ptotal = pd.read_sql(query, mysql_conn)
ptotal

    depto_id    Departamento  Población_total
0          1       Guatemala          3015081
1          2     El Progreso           176632
2          3    Sacatepequez           330469
3          4   Chimaltenango           615776
4          5       Escuintla           733181
5          6      Santa Rosa           396607
6          7          Solola           421583
7          8     Totonicapan           418569
8          9  Quetzaltenango           799101
9         10   Suchitepaquez           554695
10        11      Retalhuleu           326828
11        12      San Marcos          1032277
12        13   Huehuetenango          1170669
13        14          Quiche           949261
14        15    Baja Verapaz           299476
15        16    Alta Verapaz          1215038
16        17           Peten           545600
17        18          Izabal           408688
18        19          Zacapa           245374
19        20      Chiquimula           415063
20        21          Jalapa           342923
21        22         Jutiapa           488395

In [36]:
secrete = '0Nxgh3zxuM6emqTxEWkuu9+Fs4nKkfCXq9SovnVN'
access = 'AKIASQOONYTKA2LHISEM'

In [67]:
s3 = boto3.resource(
    service_name = 's3',
    region_name = 'us-east-1',
    aws_access_key_id = access,
    aws_secret_access_key = secrete
)

In [68]:
for bucket in s3.buckets.all():
    print(bucket.name)

proyectofinalpython

In [69]:
S3_BUCKET_NAME = 'proyectofinalpython'

In [70]:
fileList = os.listdir('AWS - S3')
#fileList

In [71]:
for file in fileList:
    if(file != '.ipynb_checkpoints'):
        path = './AWS - S3/' + file
        s3.Bucket(S3_BUCKET_NAME).upload_file(Filename=path, Key='AWS - S3/' + file)

In [72]:
fileList = os.listdir('AWS - S3')
fileList

['.ipynb_checkpoints',
 'Censo18.csv',
 'fbtelefonias.csv',
 'inscripciones preprimaria-diver.csv',
 'Poblacion Economicamente Activa 2018.csv',
 'telefonias gt.csv',
 'Untitled.ipynb']

In [73]:
for bucket in s3.buckets.all():
    print(bucket.name)

proyectofinalpython

In [74]:
for objt in s3.Bucket(S3_BUCKET_NAME).objects.all():
    print(objt)

s3.ObjectSummary(bucket_name='proyectofinalpython', key='AWS - S3/Censo18.csv')
s3.ObjectSummary(bucket_name='proyectofinalpython', key='AWS - S3/Poblacion Economicamente Activa 2018.csv')
s3.ObjectSummary(bucket_name='proyectofinalpython', key='AWS - S3/Untitled.ipynb')
s3.ObjectSummary(bucket_name='proyectofinalpython', key='AWS - S3/fbtelefonias.csv')
s3.ObjectSummary(bucket_name='proyectofinalpython', key='AWS - S3/inscripciones preprimaria-diver.csv')
s3.ObjectSummary(bucket_name='proyectofinalpython', key='AWS - S3/telefonias gt.csv')
s3.ObjectSummary(bucket_name='proyectofinalpython', key='Outputfinal/final.csv')

In [75]:
#extraemos todo lo que está en el bucket
remoteFileList = []

for objt in s3.Bucket(S3_BUCKET_NAME).objects.all():
    remoteFileList.append(objt.key)

    objt

In [141]:
telegt = pd.DataFrame()
for remoteFile in remoteFileList:
    if ('AWS - S3' in remoteFile):
        file = s3.Bucket(S3_BUCKET_NAME).Object(remoteFile).get()
        data = pd.read_csv('AWS - S3/telefonias gt.csv', delimiter =';' )
        telegt = telegt.append(data)

In [271]:
est = pd.DataFrame()
for remoteFile in remoteFileList:
    if ('AWS - S3' in remoteFile):
        file2 = s3.Bucket(S3_BUCKET_NAME).Object(remoteFile).get()
        data2 = pd.read_csv('AWS - S3/inscripciones preprimaria-diver.csv', delimiter =';' )
        est = est.append(data2)

In [272]:
est

    depto_id  Departamentos     2018     2019     2020
0          1      Guatemala  937,319  954,943  911,990
1          2    El Progreso   50,917   51,428   49,276
2          3   Sacatepequez   92,869   94,141   91,889
3          4  Chimaltenango  163,704  163,117  161,282
4          5      Escuintla  201,653  207,116  200,053
..       ...            ...      ...      ...      ...
17        18         Izabal  114,790  118,507  114,625
18        19         Zacapa   67,580   68,907   66,793
19        20     Chiquimula  109,617  110,337  106,005
20        21         Jalapa   94,735   95,061   92,747
21        22        Jutiapa  137,937  138,733  131,981

[132 rows x 5 columns]

In [152]:
telegt.head()

   depto_id  Departamentos       18       19       20
0         1      Guatemala  2183312  2117814  4301126
1         2    El Progreso    74472    92667   167139
2         3   Sacatepequez   213455   176322   389777
3         4  Chimaltenango   219865   295192   515057
4         5      Escuintla   359738   417114   776852

In [153]:
fbgt.head()

   depto_id  Departamentos    Claro     Tigo    Total
0         1      Guatemala  2860000  2710000  5570000
1         2    El Progreso    41000    42000    83000
2         3   Sacatepequez   139000   106000   245000
3         4  Chimaltenango   117000   133000   250000
4         5      Escuintla   207000   176000   383000

In [ ]:
fbgt = pd.DataFrame()
for remoteFile in remoteFileList:
    if ('AWS - S3' in remoteFile):
        file1 = s3.Bucket(S3_BUCKET_NAME).Object(remoteFile).get()
        data1 = pd.read_csv('AWS - S3/fbtelefonias.csv', delimiter =';' )
        fbgt = fbgt.append(data1)

In [145]:
#ptotal_telegt = pd.merge(telegt, ptotal, how = 'right', left_on = 'depto_id', right_on = 'depto_id')
ptotal_telegt = pd.merge(telegt, ptotal, how = 'left', on = 'depto_id')

#ptotal_telegt = (ptotal_telegt.drop('Departamento', axis =1)
ptotal_telegt

,depto_id,Departamentos,18,19,20,Departamento,Población_total
0,1,Guatemala,2183312,2117814,4301126,Guatemala,3015081
1,2,El Progreso,74472,92667,167139,El Progreso,176632
2,3,Sacatepequez,213455,176322,389777,Sacatepequez,330469
3,4,Chimaltenango,219865,295192,515057,Chimaltenango,615776
4,5,Escuintla,359738,417114,776852,Escuintla,733181
...,...,...,...,...,...,...,...
127,18,Izabal,112659,215064,327723,Izabal,408688
128,19,Zacapa,74460,155777,230237,Zacapa,245374
129,20,Chiquimula,71249,134311,205560,Chiquimula,415063
130,21,Jalapa,65109,151870,216979,Jalapa,342923
131,22,Jutiapa,130015,233920,363935,Jutiapa,488395

In [181]:
ptotal_telegt = (ptotal_telegt.drop('Departamento', axis =1))

In [282]:
ptotal_telegt

    depto_id   Departamentos    Claro     Tigo  TelcoGt  Población_total
0          1       Guatemala  2183312  2117814  4301126          3015081
1          2     El Progreso    74472    92667   167139           176632
2          3    Sacatepequez   213455   176322   389777           330469
3          4   Chimaltenango   219865   295192   515057           615776
4          5       Escuintla   359738   417114   776852           733181
5          6      Santa Rosa   150042   186478   336520           396607
6          7          Solola   142634   196272   338906           421583
7          8     Totonicapan    89293   202562   291855           418569
8          9  Quetzaltenango   371964   455954   827918           799101
9         10   Suchitepequez   282403   235867   518270           554695
10        11      Retalhuleu   134833   155121   289954           326828
11        12      San Marcos   213691   491317   705008          1032277
12        13   Huehuetenango   158757   536790   695547          1170669
13        14          Quiche   130410   378035   508445           949261
14        15    Baja Verapaz    69753   114074   183827           299476
15        16    Alta Verapaz   109770   348097   457867          1215038
16        17           Peten    99496   271583   371079           545600
17        18          Izabal   112659   215064   327723           408688
18        19          Zacapa    74460   155777   230237           245374
19        20      Chiquimula    71249   134311   205560           415063
20        21          Jalapa    65109   151870   216979           342923
21        22         Jutiapa   130015   233920   363935           488395

In [274]:
pt_fb = pd.merge(ptotal_telegt, fbgt, how = 'right', on = 'depto_id')

#ptotal_telegt = (ptotal_telegt.drop('Departamento', axis =1)
pt_fb

,depto_id,Departamentos_x,Claro_x,Tigo_x,TelcoGt,Población_total,Departamentos_y,Claro_y,Tigo_y,Total
0,1,Guatemala,2183312,2117814,4301126,3015081,Guatemala,2860000,2710000,5570000
1,2,El Progreso,74472,92667,167139,176632,El Progreso,41000,42000,83000
2,3,Sacatepequez,213455,176322,389777,330469,Sacatepequez,139000,106000,245000
3,4,Chimaltenango,219865,295192,515057,615776,Chimaltenango,117000,133000,250000
4,5,Escuintla,359738,417114,776852,733181,Escuintla,207000,176000,383000
...,...,...,...,...,...,...,...,...,...,...
127,18,Izabal,112659,215064,327723,408688,Izabal,105000,199000,304000
128,19,Zacapa,74460,155777,230237,245374,Zacapa,41000,76000,117000
129,20,Chiquimula,71249,134311,205560,415063,Chiquimula,48000,128000,176000
130,21,Jalapa,65109,151870,216979,342923,Jalapa,33000,79000,112000
131,22,Jutiapa,130015,233920,363935,488395,Jutiapa,63000,134000,197000

In [283]:
#data = data.drop(labels=range(40, 45), axis=0)
pt_fb = pt_fb.drop(labels=range(22,132), axis=0)

In [284]:
pt_fb

,depto_id,Departamentos_x,Claro_x,Tigo_x,TelcoGt,Población_total,Departamentos_y,Claro_y,Tigo_y,Total
0,1,Guatemala,2183312,2117814,4301126,3015081,Guatemala,2860000,2710000,5570000
1,2,El Progreso,74472,92667,167139,176632,El Progreso,41000,42000,83000
2,3,Sacatepequez,213455,176322,389777,330469,Sacatepequez,139000,106000,245000
3,4,Chimaltenango,219865,295192,515057,615776,Chimaltenango,117000,133000,250000
4,5,Escuintla,359738,417114,776852,733181,Escuintla,207000,176000,383000
5,6,Santa Rosa,150042,186478,336520,396607,Santa Rosa,68000,82000,150000
6,7,Solola,142634,196272,338906,421583,Solola,75000,102000,177000
7,8,Totonicapan,89293,202562,291855,418569,Totonicapan,40000,101000,141000
8,9,Quetzaltenango,371964,455954,827918,799101,Quetzaltenango,265000,272000,537000
9,10,Suchitepequez,282403,235867,518270,554695,Suchitepequez,163000,75000,238000
10,11,Retalhuleu,134833,155121,289954,326828,Retalhuleu,83000,70000,153000
11,12,San Marcos,213691,491317,705008,1032277,San Marcos,290000,979000,1269000
12,13,Huehuetenango,158757,536790,695547,1170669,Huehuetenango,67000,396000,463000
13,14,Quiche,130410,378035,508445,949261,Quiche,67000,227000,294000
14,15,Baja Verapaz,69753,114074,183827,299476,Baja Verapaz,38000,71000,109000
15,16,Alta Verapaz,109770,348097,457867,1215038,Alta Verapaz,57000,214000,271000
16,17,Peten,99496,271583,371079,545600,Peten,50000,146000,196000
17,18,Izabal,112659,215064,327723,408688,Izabal,105000,199000,304000
18,19,Zacapa,74460,155777,230237,245374,Zacapa,41000,76000,117000
19,20,Chiquimula,71249,134311,205560,415063,Chiquimula,48000,128000,176000
20,21,Jalapa,65109,151870,216979,342923,Jalapa,33000,79000,112000
21,22,Jutiapa,130015,233920,363935,488395,Jutiapa,63000,134000,197000

In [285]:
pt_fb.rename(columns = {'Departamentos_x':'Departamento','Claro_x':'Claro_telecom', 'Tigo_x':'Tigo_telecom', 'Claro_y':'Claro_FB', 'Tigo_y': 'Tigo_FB'}, inplace = True)

In [286]:
ptt = pt_fb

In [287]:
ptt.head()

,depto_id,Departamento,Claro_telecom,Tigo_telecom,TelcoGt,Población_total,Departamentos_y,Claro_FB,Tigo_FB,Total
0,1,Guatemala,2183312,2117814,4301126,3015081,Guatemala,2860000,2710000,5570000
1,2,El Progreso,74472,92667,167139,176632,El Progreso,41000,42000,83000
2,3,Sacatepequez,213455,176322,389777,330469,Sacatepequez,139000,106000,245000
3,4,Chimaltenango,219865,295192,515057,615776,Chimaltenango,117000,133000,250000
4,5,Escuintla,359738,417114,776852,733181,Escuintla,207000,176000,383000

In [299]:
#ptt = (ptt.drop('TelcoGt', axis =1))
#ptt = (ptt.drop('Total', axis =1))
ptt = (ptt.drop('Departamentos_y', axis =1))

In [289]:
ptt["T_telecom"] = ptt["Claro_telecom"] + ptt["Tigo_telecom"]

In [294]:
ptt["T_FB"] = ptt["Claro_FB"] + ptt["Tigo_FB"]

In [291]:
ptt["T_FB"] = ptt["Claro_FB"] + ptt["Tigo_FB"]

In [295]:
ct = ptt["Claro_telecom"]

In [300]:
ptt

,depto_id,Departamento,Claro_telecom,Tigo_telecom,Población_total,Claro_FB,Tigo_FB,T_telecom,T_FB
0,1,Guatemala,2183312,2117814,3015081,2860000,2710000,4301126,5570000
1,2,El Progreso,74472,92667,176632,41000,42000,167139,83000
2,3,Sacatepequez,213455,176322,330469,139000,106000,389777,245000
3,4,Chimaltenango,219865,295192,615776,117000,133000,515057,250000
4,5,Escuintla,359738,417114,733181,207000,176000,776852,383000
5,6,Santa Rosa,150042,186478,396607,68000,82000,336520,150000
6,7,Solola,142634,196272,421583,75000,102000,338906,177000
7,8,Totonicapan,89293,202562,418569,40000,101000,291855,141000
8,9,Quetzaltenango,371964,455954,799101,265000,272000,827918,537000
9,10,Suchitepequez,282403,235867,554695,163000,75000,518270,238000
10,11,Retalhuleu,134833,155121,326828,83000,70000,289954,153000
11,12,San Marcos,213691,491317,1032277,290000,979000,705008,1269000
12,13,Huehuetenango,158757,536790,1170669,67000,396000,695547,463000
13,14,Quiche,130410,378035,949261,67000,227000,508445,294000
14,15,Baja Verapaz,69753,114074,299476,38000,71000,183827,109000
15,16,Alta Verapaz,109770,348097,1215038,57000,214000,457867,271000
16,17,Peten,99496,271583,545600,50000,146000,371079,196000
17,18,Izabal,112659,215064,408688,105000,199000,327723,304000
18,19,Zacapa,74460,155777,245374,41000,76000,230237,117000
19,20,Chiquimula,71249,134311,415063,48000,128000,205560,176000
20,21,Jalapa,65109,151870,342923,33000,79000,216979,112000
21,22,Jutiapa,130015,233920,488395,63000,134000,363935,197000

In [317]:
#Conocer la penetración de Internet con Lineas Telefónicas Totales x Departamento
ptt["%FB/Telecom"] = ptt["T_FB"] / ptt["T_telecom"]

In [309]:
#Identíficar cual es la población mayor de 15 años por departamento (siendo la media de 0.66).
ptt["P+15años"] = ptt["Población_total"] * 0.66

In [311]:
#Validar en qué departamento el MS es mayor de Claro que el de Tigo
ptt["%MS_Claro"] = ptt["Claro_telecom"] / ptt["T_telecom"]

In [313]:
#Cual es el posible uso de telefonía en población arriba de 15 años
ptt["T_Telecom/P+15años"] = ptt["T_telecom"] / ptt["P+15años"]

In [315]:
#Penetración de internet por medio de estadistica del uso de FB en población arriba de 15 años.
ptt["T_FB/P+15años"] = ptt["T_FB"] / ptt["P+15años"]

In [316]:
ptt

,depto_id,Departamento,Claro_telecom,Tigo_telecom,Población_total,Claro_FB,Tigo_FB,T_telecom,T_FB,%FB/Telecom,P+15años,%MS_Claro,T_Telecom/P+15años,T_FB/P+15años
0,1,Guatemala,2183312,2117814,3015081,2860000,2710000,4301126,5570000,1.295010,1989953.46,0.507614,2.161420,2.799060
1,2,El Progreso,74472,92667,176632,41000,42000,167139,83000,0.496593,116577.12,0.445569,1.433720,0.711975
2,3,Sacatepequez,213455,176322,330469,139000,106000,389777,245000,0.628565,218109.54,0.547634,1.787070,1.123289
3,4,Chimaltenango,219865,295192,615776,117000,133000,515057,250000,0.485383,406412.16,0.426875,1.267327,0.615139
4,5,Escuintla,359738,417114,733181,207000,176000,776852,383000,0.493015,483899.46,0.463071,1.605400,0.791487
5,6,Santa Rosa,150042,186478,396607,68000,82000,336520,150000,0.445739,261760.62,0.445864,1.285602,0.573043
6,7,Solola,142634,196272,421583,75000,102000,338906,177000,0.522269,278244.78,0.420866,1.218014,0.636131
7,8,Totonicapan,89293,202562,418569,40000,101000,291855,141000,0.483117,276255.54,0.305950,1.056468,0.510397
8,9,Quetzaltenango,371964,455954,799101,265000,272000,827918,537000,0.648615,527406.66,0.449276,1.569791,1.018190
9,10,Suchitepequez,282403,235867,554695,163000,75000,518270,238000,0.459220,366098.70,0.544896,1.415656,0.650098
10,11,Retalhuleu,134833,155121,326828,83000,70000,289954,153000,0.527670,215706.48,0.465015,1.344206,0.709297
11,12,San Marcos,213691,491317,1032277,290000,979000,705008,1269000,1.799980,681302.82,0.303104,1.034794,1.862608
12,13,Huehuetenango,158757,536790,1170669,67000,396000,695547,463000,0.665663,772641.54,0.228248,0.900220,0.599243
13,14,Quiche,130410,378035,949261,67000,227000,508445,294000,0.578234,626512.26,0.256488,0.811548,0.469265
14,15,Baja Verapaz,69753,114074,299476,38000,71000,183827,109000,0.592949,197654.16,0.379449,0.930044,0.551468
15,16,Alta Verapaz,109770,348097,1215038,57000,214000,457867,271000,0.591875,801925.08,0.239742,0.570960,0.337937
16,17,Peten,99496,271583,545600,50000,146000,371079,196000,0.528189,360096.00,0.268126,1.030500,0.544299
17,18,Izabal,112659,215064,408688,105000,199000,327723,304000,0.927613,269734.08,0.343763,1.214986,1.127036
18,19,Zacapa,74460,155777,245374,41000,76000,230237,117000,0.508172,161946.84,0.323406,1.421683,0.722459
19,20,Chiquimula,71249,134311,415063,48000,128000,205560,176000,0.856198,273941.58,0.346609,0.750379,0.642473
20,21,Jalapa,65109,151870,342923,33000,79000,216979,112000,0.516179,226329.18,0.300071,0.958688,0.494854
21,22,Jutiapa,130015,233920,488395,63000,134000,363935,197000,0.541305,322340.70,0.357248,1.129038,0.611155

In [323]:
type(output)

pandas.core.frame.DataFrame

In [324]:
secret = '0Nxgh3zxuM6emqTxEWkuu9+Fs4nKkfCXq9SovnVN'
access = 'AKIASQOONYTKA2LHISEM'

In [325]:
import os
import sys
import boto3
import configparser

In [326]:
config = configparser.ConfigParser()

In [327]:
s3 = boto3.resource(
    service_name = 's3',
    region_name = 'us-east-1',
    aws_access_key_id = access,
    aws_secret_access_key = secret
)

In [328]:
for bucket in s3.buckets.all():
    print(bucket.name)

proyectofinalpython

In [329]:
S3_BUCKET_NAME = 'proyectofinalpython'

In [330]:
S3_BUCKET_NAME

'proyectofinalpython'

In [331]:
os.listdir()

['.ipynb_checkpoints',
 'AWS - S3',
 'data_eng.ipynb',
 'final.csv',
 'output',
 'ProyectoFinalPython.ipynb',
 'RDS P. Final.ipynb',
 'rds-s3.ipynb',
 'Untitled Folder']

In [333]:
ruta = os.listdir('C:/Users/Andres Salguero/Documents/GitHub/tareas-y-proyectos/ProyectoFinalPython/output')
print(ruta)

['final.csv']

In [334]:
os.chdir('C:/Users/Andres Salguero/Documents/GitHub/tareas-y-proyectos/ProyectoFinalPython/output')

In [343]:
ptt.to_csv('final.csv', header=True, index=False)

In [344]:
for archivo in ruta:
    if(archivo != '.ipynb_checkpoints'):
        n_ruta = ''+ archivo
        print(n_ruta)
        s3.Bucket(S3_BUCKET_NAME).upload_file(Filename = n_ruta, Key= 'Outputfinal/'+archivo)

final.csv